In [1]:
import tushare as ts

In [2]:
#获取深圳成指k线数据
df = ts.get_hist_data('sh',start='2018-07-01',end='2018-07-30')

In [3]:
df.to_csv("df001.csv")#保存文件

In [6]:
ts.get_hist_data('300036') #一次性获取全部日k线数据

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2018-06-14,21.76,21.94,21.68,21.56,15457.00,-0.07,-0.32,21.894,21.997,22.586,17098.10,24382.83,35231.77
2018-06-13,22.00,22.14,21.76,21.74,15149.00,-0.32,-1.45,22.024,22.037,22.687,20505.85,25793.33,36796.97
2018-06-12,21.94,22.15,22.08,21.77,16061.00,0.14,0.64,22.208,22.030,22.810,30120.82,30269.81,39196.25
2018-06-11,22.01,22.16,21.95,21.81,15324.49,-0.06,-0.27,22.198,22.114,22.942,30760.06,31866.32,45781.87
2018-06-08,22.16,22.16,22.00,21.81,23499.00,-0.32,-1.43,22.154,22.229,23.080,31322.16,36495.50,50098.45
2018-06-07,22.88,22.88,22.33,22.23,32495.78,-0.29,-1.28,22.100,22.406,23.160,31667.56,45713.75,50083.74
2018-06-06,23.10,23.23,22.68,22.48,63223.83,0.65,2.95,22.050,22.501,23.232,31080.80,44615.07,49943.70
2018-06-05,21.73,22.05,22.03,21.69,19257.19,0.30,1.38,21.852,22.567,23.284,30418.80,40928.37,48503.45
2018-06-04,21.82,22.07,21.73,21.53,18135.00,0.00,0.00,22.030,22.746,23.380,32972.58,42212.66,50242.23
2018-06-01,22.12,22.12,21.73,21.61,25226.00,-0.33,-1.50,22.304,22.968,23.471,41668.83,44725.76,51484.17
2018-05-31,21.88,22.25,22.08,21.80,29562.00,0.40,1.84,22.712,23.174,23.558,59759.93,46080.70,51877.96
2018-05-30,22.48,22.68,21.69,21.66,59913.80,-1.22,-5.33,22.952,23.337,23.640,58149.33,47800.62,52569.85
2018-05-29,23.04,23.24,22.92,22.82,32026.12,-0.17,-0.74,23.282,23.589,23.710,51437.94,48122.69,51903.48
2018-05-28,23.32,23.63,23.10,23.01,61616.24,-0.65,-2.74,23.462,23.769,23.763,51452.74,59697.42,52007.91
2018-05-25,24.21,25.00,23.77,23.72,115681.51,0.48,2.06,23.632,23.930,23.792,47782.69,63701.41,50834.62
2018-05-24,23.46,23.55,23.28,23.26,21509.00,-0.07,-0.30,23.636,23.914,23.800,32401.47,54453.74,47065.36
2018-05-23,23.63,23.70,23.34,23.32,26356.83,-0.35,-1.48,23.722,23.962,23.825,37451.90,55272.32,48358.47
2018-05-22,23.82,24.09,23.82,23.55,32100.10,-0.11,-0.46,23.896,24.000,23.818,44807.44,56078.54,49073.87
2018-05-21,23.99,24.19,23.95,23.71,43266.00,0.15,0.63,24.076,24.013,23.792,67942.10,58271.81,50561.21
2018-05-18,23.50,23.90,23.79,23.21,38775.43,0.08,0.34,24.228,23.974,23.809,79620.13,58242.57,50828.43
2018-05-17,24.01,24.30,23.71,23.69,46761.13,-0.51,-2.11,24.192,23.941,23.828,76506.01,57675.21,52611.47
2018-05-16,24.50,24.52,24.21,24.03,63134.55,-0.51,-2.06,24.202,23.943,23.860,73092.75,57339.08,53277.90
2018-05-15,25.49,25.60,24.72,24.49,147773.38,0.00,0.00,24.104,23.830,23.890,67349.64,55684.26,55653.07
2018-05-14,23.59,24.95,24.71,23.50,101656.17,1.09,4.62,23.950,23.757,23.949,48601.51,44318.40,52074.44
2018-05-11,23.91,23.91,23.61,23.44,23204.80,-0.16,-0.67,23.720,23.654,24.007,36865.01,37967.84,51474.99
2018-05-10,23.70,23.92,23.76,23.65,29694.83,0.04,0.17,23.690,23.685,24.162,38844.42,39676.99,60099.05
2018-05-09,23.72,23.92,23.72,23.67,34419.00,-0.22,-0.92,23.684,23.688,24.284,41585.42,41444.61,69127.78
2018-05-08,23.60,23.95,23.95,23.39,54032.76,0.38,1.61,23.556,23.635,24.455,44018.89,42069.20,76832.94
2018-05-07,23.50,23.65,23.56,23.10,42973.67,0.07,0.30,23.564,23.570,24.564,40035.29,42850.62,80910.98
2018-05-04,23.75,23.96,23.46,23.42,33101.83,-0.27,-1.14,23.588,23.644,24.678,39070.66,43414.29,87868.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-09-08,12.89,13.98,13.85,12.67,60627.79,1.09,8.54,13.478,15.088,17.924,68429.43,80555.14,103801.50
2015-09-07,12.92,13.38,12.77,12.63,52490.04,0.37,2.98,14.000,15.739,18.131,79869.39,88312.10,104161.30
2015-09-02,12.30,14.11,12.36,12.30,70201.74,-1.10,-8.17,14.440,16.591,18.360,96977.99,98537.72,104567.25
2015-09-01,14.78,14.78,13.46,13.46,78985.85,-1.50,-10.03,15.080,17.434,18.617,109001.30,103741.22,106218.95
2015-08-31,16.13,16.20,14.95,14.95,79841.72,-1.51,-9.17,15.846,18.104,18.812,98482.73,106864.05,106984.29
2015-08-28,15.40,16.46,16.46,15.00,117827.60,1.50,10.03,16.698,18.849,18.853,92680.85,109609.73,107384.89
2015-08-27,15.50,16.50,14.97,14.00,138033.02,-0.59,-3.79,17.478,19.398,18.905,96754.80,113704.39,105345.29
2015-08-26,17.00,18.35,15.56,15.56,130318.31,-1.73,-10.01,18.742,20.042,19.087,100097.45,114432.06,102945.90
2015-08-25,17.29,17.29,17.29,17.29,26393.00,-1.92,-9.99,19.788,20.486,19.281,98481.13,113477.25,100760.90
2015-08-24,20.00,20.40,19.21,19.21,50832.30,-2.13,-9.98,20.362,20.727,19.349,115245.36,122841.42,105103.36
2015-08-21,20.62,21.90,20.36,19.18,138197.38,-0.89,-4.19,21.000,20.760,19.423,126538.60,127047.87,107525.57
2015-08-20,20.98,22.67,21.29,20.30,154746.27,0.68,3.30,21.318,20.522,19.374,130653.97,120010.51,105911.26
2015-08-19,19.00,21.00,20.79,18.14,122236.72,0.63,3.12,21.342,20.128,19.267,128766.66,110596.78,103198.21
2015-08-18,22.40,22.40,20.16,20.16,110214.14,-2.24,-10.00,21.184,19.800,19.178,128473.37,108696.69,102078.30
2015-08-17,21.67,22.49,22.40,21.43,107298.51,0.46,2.10,21.092,19.519,19.116,130437.47,107104.54,101569.81
2015-08-14,21.61,22.83,21.95,21.61,158774.20,0.57,2.67,20.520,18.856,18.897,127557.13,105160.06,101187.89
2015-08-13,20.23,21.54,21.41,20.01,145309.73,1.41,7.05,19.726,18.412,18.679,109367.04,96986.20,97074.58
2015-08-12,19.35,20.64,20.00,19.10,120770.27,0.31,1.57,18.914,18.131,18.469,92426.90,91459.75,93364.19
2015-08-11,19.60,20.12,19.70,19.00,120034.65,0.15,0.77,18.416,18.076,18.342,88920.00,88044.54,91080.35
2015-08-10,18.22,19.65,19.54,18.22,92896.78,1.57,8.74,17.946,17.971,18.218,83771.60,87365.31,88448.14
2015-08-07,17.47,17.99,17.98,17.47,67823.78,0.61,3.51,17.192,18.086,18.086,82762.98,88003.27,88003.27
2015-08-06,16.94,17.98,17.35,16.81,60609.00,-0.15,-0.86,17.098,18.098,18.098,84605.36,90245.44,90245.44
2015-08-05,17.40,18.36,17.51,17.10,103235.81,0.16,0.92,17.348,18.191,18.191,90492.60,93950.00,93950.00
2015-08-04,16.20,17.35,17.35,15.80,94292.63,1.58,10.02,17.736,18.289,18.289,87169.08,92623.45,92623.45
2015-08-03,17.39,17.39,15.77,15.77,87853.70,-1.75,-9.99,17.996,18.445,18.445,90959.02,92345.25,92345.25
2015-07-31,17.71,18.40,17.51,17.02,77035.64,-1.07,-5.76,18.980,18.980,18.980,93243.56,93243.56,93243.56
2015-07-30,19.44,19.74,18.60,18.41,90045.23,-0.85,-4.37,19.348,19.348,19.348,97295.55,97295.55,97295.55
2015-07-29,19.12,19.50,19.45,17.20,86618.22,0.82,4.40,19.597,19.597,19.597,99712.32,99712.32,99712.32
2015-07-28,18.76,20.20,18.65,18.62,113242.29,-2.04,-9.86,19.670,19.670,19.670,106259.37,106259.37,106259.37
2015-07-27,22.30,23.65,20.69,20.69,99276.44,-2.30,-10.00,20.690,20.690,20.690,99276.44,99276.44,99276.44

In [ ]:
ts.get_hist_data('300036',start='2018-07-01',end='2018-07-30') #一次性获取全部日k线数据

In [2]:
dfm=ts.get_hist_data('300036',start='2018-01-01',end='2018-08-31',ktype='W') #获取全部周k线数据
dfm.sort_index(ascending=True).head()

<urlopen error [Errno -3] Temporary failure in name resolution>
<urlopen error [Errno -3] Temporary failure in name resolution>
<urlopen error [Errno -3] Temporary failure in name resolution>

OSError: 获取失败，请检查网络.

In [ ]:
df2 = ts.get_hist_data('300036',start='2018-07-01',end='2018-07-30') #命名文件
df2.to_csv("300036july.csv")#保存文件

In [5]:
df3 = ts.get_money_supply()#货币供应量

In [ ]:
df3.to_csv("moneysupply.csv")#保存文件

In [6]:
df3.head(10)#前10行数据

,month,m2,m2_yoy,m1,m1_yoy,m0,m0_yoy,cd,cd_yoy,qm,qm_yoy,ftd,ftd_yoy,sd,sd_yoy,rests,rests_yoy
0,2018.6,1770178.37,8.30,543944.71,6.00,69589.33,3.60,474355.38,--,1226233.66,--,334425.29,--,692440.77,--,199367.60,--
1,2018.5,1743063.79,8.30,526276.72,6.00,69774.81,3.60,456501.91,--,1216787.08,--,336063.23,--,681333.90,--,199389.95,--
2,2018.4,1737683.73,8.30,525447.77,7.20,71476.46,4.50,453971.31,--,1212235.96,--,335348.35,--,679185.94,--,197701.67,--
3,2018.3,1739859.48,8.20,523540.07,7.10,72692.63,6.00,450847.45,--,1216319.40,--,332605.89,--,692563.69,--,191149.82,--
4,2018.2,1729070.12,8.80,517035.99,8.50,81424.24,13.50,435611.75,--,1212034.13,--,330531.73,--,687076.39,--,194426.00,--
5,2018.1,1720814.46,8.62,543247.13,14.97,74636.29,-13.81,468610.84,--,1177567.33,--,328169.80,--,658424.25,--,190973.27,--
6,2017.12,1676768.54,8.10,543790.15,11.80,70645.60,3.40,473144.55,--,1132978.39,--,320196.23,--,649341.50,--,163440.66,--
7,2017.11,1670013.40,9.10,535565.05,12.70,68623.16,5.70,466941.89,--,1134448.35,--,320651.87,--,641619.60,--,172176.88,--
8,2017.10,1653434.16,8.90,525977.19,13.00,68230.69,6.30,457746.50,--,1127456.97,--,319740.97,--,640250.93,--,167465.07,--
9,2017.9,1655662.07,9.00,517863.04,14.00,69748.54,7.20,448114.50,--,1137799.03,--,326614.31,--,648349.70,--,162835.01,--

In [8]:
df3.tail(10)#最后10行数据

,month,m2,m2_yoy,m1,m1_yoy,m0,m0_yoy,cd,cd_yoy,qm,qm_yoy,ftd,ftd_yoy,sd,sd_yoy,rests,rests_yoy
476,1978.10,--,--,778.64,--,185.24,--,--,--,--,--,--,--,--,--,--,--
477,1978.9,--,--,763.47,--,188.27,--,--,--,--,--,--,--,--,--,--,--
478,1978.8,--,--,755.99,--,182.12,--,--,--,--,--,--,--,--,--,--,--
479,1978.7,--,--,746.43,--,181.02,--,--,--,--,--,--,--,--,--,--,--
480,1978.6,--,--,745.08,--,178.46,--,--,--,--,--,--,--,--,--,--,--
481,1978.5,--,--,757.93,--,182.17,--,--,--,--,--,--,--,--,--,--,--
482,1978.4,--,--,808.17,--,192.63,--,--,--,--,--,--,--,--,--,--,--
483,1978.3,--,--,827.83,--,194.86,--,--,--,--,--,--,--,--,--,--,--
484,1978.2,--,--,833.35,--,205.89,--,--,--,--,--,--,--,--,--,--,--
485,1978.1,--,--,870.53,--,229.59,--,--,--,--,--,--,--,--,--,--,--

In [11]:
df3.iloc[0:10,0:8]#( 1-10行，1-8列)

     month          m2 m2_yoy         m1 m1_yoy        m0  m0_yoy         cd
0   2018.6  1770178.37   8.30  543944.71   6.00  69589.33    3.60  474355.38
1   2018.5  1743063.79   8.30  526276.72   6.00  69774.81    3.60  456501.91
2   2018.4  1737683.73   8.30  525447.77   7.20  71476.46    4.50  453971.31
3   2018.3  1739859.48   8.20  523540.07   7.10  72692.63    6.00  450847.45
4   2018.2  1729070.12   8.80  517035.99   8.50  81424.24   13.50  435611.75
5   2018.1  1720814.46   8.62  543247.13  14.97  74636.29  -13.81  468610.84
6  2017.12  1676768.54   8.10  543790.15  11.80  70645.60    3.40  473144.55
7  2017.11  1670013.40   9.10  535565.05  12.70  68623.16    5.70  466941.89
8  2017.10  1653434.16   8.90  525977.19  13.00  68230.69    6.30  457746.50
9   2017.9  1655662.07   9.00  517863.04  14.00  69748.54    7.20  448114.50

In [21]:
df3.loc[0:10,:"cd"]#截取序号0-10，列号开始至cd列)

      month          m2 m2_yoy         m1 m1_yoy        m0  m0_yoy         cd
1    2018.5  1743063.79   8.30  526276.72   6.00  69774.81    3.60  456501.91
2    2018.4  1737683.73   8.30  525447.77   7.20  71476.46    4.50  453971.31
3    2018.3  1739859.48   8.20  523540.07   7.10  72692.63    6.00  450847.45
4    2018.2  1729070.12   8.80  517035.99   8.50  81424.24   13.50  435611.75
5    2018.1  1720814.46   8.62  543247.13  14.97  74636.29  -13.81  468610.84
6   2017.12  1676768.54   8.10  543790.15  11.80  70645.60    3.40  473144.55
7   2017.11  1670013.40   9.10  535565.05  12.70  68623.16    5.70  466941.89
8   2017.10  1653434.16   8.90  525977.19  13.00  68230.69    6.30  457746.50
9    2017.9  1655662.07   9.00  517863.04  14.00  69748.54    7.20  448114.50
10   2017.8  1645156.60   8.60  518113.93  14.00  67550.99    6.50  450562.94

In [4]:
df3.loc[90:100,:]#( 序号90-100，所有列)

,month,m2,m2_yoy,m1,m1_yoy,m0,m0_yoy,cd,cd_yoy,qm,qm_yoy,ftd,ftd_yoy,sd,sd_yoy,rests,rests_yoy
90,2010.12,725851.79,19.72,266621.54,21.19,44628.17,16.69,221993.37,22.14,459230.25,18.88,143232.08,28.65,303093.01,16.31,12905.15,15.81
91,2010.11,710339.02,19.50,259420.32,22.10,42252.16,16.30,217168.16,--,450918.70,--,140202.84,--,293426.73,--,17289.13,--
92,2010.10,699776.74,19.30,253313.17,22.10,41646.21,16.60,211666.96,--,446463.57,--,138357.86,--,292037.71,--,16068.00,--
93,2010.9,696471.50,18.96,243821.90,20.87,41854.41,13.78,201967.50,22.45,452649.59,17.95,142865.49,28.43,299136.35,17.01,10647.75,3.58
94,2010.8,687506.92,19.20,244340.64,21.90,39922.76,16.00,204417.88,--,443166.28,--,134975.20,--,288773.09,--,19417.99,--
95,2010.7,674051.48,17.60,240664.07,22.90,39543.16,15.50,201120.91,--,433387.41,--,131100.16,--,286989.41,--,15297.84,--
96,2010.6,673921.72,18.46,240580.00,24.56,38904.85,15.65,201675.15,26.44,433341.73,--,131673.96,--,287474.10,--,14193.66,--
97,2010.5,663351.37,21.00,236497.88,29.90,38652.97,15.20,197844.91,--,426853.49,--,130292.50,--,280547.60,--,16013.39,--
98,2010.4,656561.22,21.48,233909.76,31.25,39657.54,15.76,194252.22,--,422651.46,--,127802.17,--,279852.51,--,14996.77,--
99,2010.3,649947.46,22.50,229397.93,29.94,39080.58,15.81,190317.35,33.28,420549.53,18.79,122943.73,33.71,280350.33,15.62,17255.48,12.86
100,2010.2,636072.26,25.52,224286.95,34.99,42865.79,21.98,181421.17,--,411785.31,--,119190.13,--,278352.29,--,14242.89,--

In [17]:
df3.loc[100:110,"m2":"m1"]#( 序号100-110行，列号m2-m1)

            m2 m2_yoy         m1
100  636072.26  25.52  224286.95
101  625609.29  25.98  229588.98
102  610224.52  27.68  221445.81
103  594604.72  29.74  212493.20
104  586643.29  29.42  207545.74
105  585405.34  29.31  201708.14
106  576698.95  28.53  200394.83
107  573102.85  28.42  195889.26
108  568916.20  28.46  193138.15
109  548263.51  25.74  182025.58
110  540481.21  25.95  178213.57

In [ ]:
month :统计时间
m2 :货币和准货币（广义货币M2）(亿元)
m2_yoy:货币和准货币（广义货币M2）同比增长(%)
m1:货币(狭义货币M1)(亿元)
m1_yoy:货币(狭义货币M1)同比增长(%)
m0:流通中现金(M0)(亿元)
m0_yoy:流通中现金(M0)同比增长(%)
cd:活期存款(亿元)
cd_yoy:活期存款同比增长(%)
qm:准货币(亿元)
qm_yoy:准货币同比增长(%)
ftd:定期存款(亿元)
ftd_yoy:定期存款同比增长(%)
sd:储蓄存款(亿元)
sd_yoy:储蓄存款同比增长(%)
rests:其他存款(亿元)
rests_yoy:其他存款同比增长(%)

In [3]:
df3=ts.get_money_supply_bal()#货币供应量年底余额
df3.to_csv("moneysupply余额.csv")#保存文件

In [12]:
ts.get_loan_rate()#贷款利率

           date            loan_type   rate
0    2015-10-24          短期贷款(六个月以内)   4.35
1    2015-10-24         短期贷款(六个月至一年)   4.35
2    2015-10-24          中长期贷款(三至五年)   4.75
3    2015-10-24          中长期贷款(五年以上)   4.90
4    2015-10-24          中长期贷款(一至三年)   4.75
5    2015-10-24               贴现(贴现)     --
6    2015-10-24         优惠贷款(扶贫贴息贷款)     --
7    2015-10-24     优惠贷款(老少边穷发展经济贷款)     --
8    2015-10-24     优惠贷款(民政部门福利工厂贷款)     --
9    2015-10-24  优惠贷款(民族贸易及民族用品生产贷款)     --
10   2015-10-24       优惠贷款(贫困县办工业贷款)     --
11   2015-10-24      个人住房商业贷款(六个月以内)   3.92
12   2015-10-24     个人住房商业贷款(六个月至一年)   3.92
13   2015-10-24       个人住房商业贷款(三至五年)   4.28
14   2015-10-24       个人住房商业贷款(五年以上)   4.41
15   2015-10-24       个人住房商业贷款(一至三年)   4.28
16   2015-10-24      个人住房公积金贷款(五年以上)   3.25
17   2015-10-24      个人住房公积金贷款(五年以下)   2.75
18   2015-09-06            再贴现(再贴现率)   2.25
19   2015-08-26          短期贷款(六个月以内)   4.60
20   2015-08-26         短期贷款(六个月至一年)   4.60
21   2015-08-26          中长期贷款(三至五年)   5.00
22   2015-08-26          中长期贷款(五年以上)   5.15
23   2015-08-26          中长期贷款(一至三年)   5.00
24   2015-08-26               贴现(贴现)     --
25   2015-08-26         优惠贷款(扶贫贴息贷款)     --
26   2015-08-26     优惠贷款(老少边穷发展经济贷款)     --
27   2015-08-26     优惠贷款(民政部门福利工厂贷款)     --
28   2015-08-26  优惠贷款(民族贸易及民族用品生产贷款)     --
29   2015-08-26       优惠贷款(贫困县办工业贷款)     --
..          ...                  ...    ...
770  1993-05-15      个人住房公积金贷款(五年以上)     --
771  1993-05-15      个人住房公积金贷款(五年以下)     --
772  1993-05-12         特种贷款(特种贷款利率)  11.25
773  1991-04-21          短期贷款(六个月以内)   8.10
774  1991-04-21         短期贷款(六个月至一年)   8.64
775  1991-04-21          中长期贷款(三至五年)   9.54
776  1991-04-21          中长期贷款(五年以上)   9.72
777  1991-04-21          中长期贷款(一至三年)   9.00
778  1991-04-21               贴现(贴现)     --
779  1991-04-21         优惠贷款(扶贫贴息贷款)   2.88
780  1991-04-21     优惠贷款(老少边穷发展经济贷款)   5.76
781  1991-04-21     优惠贷款(民政部门福利工厂贷款)   7.20
782  1991-04-21  优惠贷款(民族贸易及民族用品生产贷款)   5.76
783  1991-04-21       优惠贷款(贫困县办工业贷款)   5.76
784  1991-04-21      个人住房商业贷款(六个月以内)   7.29
785  1991-04-21     个人住房商业贷款(六个月至一年)   7.78
786  1991-04-21       个人住房商业贷款(三至五年)   8.59
787  1991-04-21       个人住房商业贷款(五年以上)   8.75
788  1991-04-21       个人住房商业贷款(一至三年)   8.10
789  1991-04-21      个人住房公积金贷款(五年以上)     --
790  1991-04-21      个人住房公积金贷款(五年以下)     --
791  1991-04-21         特种贷款(特种贷款利率)   9.72
792  1990-08-21          短期贷款(六个月以内)   8.64
793  1990-08-21         短期贷款(六个月至一年)   9.36
794  1990-08-21          中长期贷款(三至五年)  10.80
795  1990-08-21          中长期贷款(五年以上)  11.16
796  1990-08-21          中长期贷款(一至三年)  10.08
797  1990-08-21               贴现(贴现)     --
798  1990-08-21         优惠贷款(扶贫贴息贷款)     --
799  1990-08-21     优惠贷款(老少边穷发展经济贷款)     --

[800 rows x 3 columns]

In [13]:
ts.get__rate()#存款利率

           date            deposit_type   rate
0    2015-10-24                定活两便(定期)     --
1    2015-10-24            定期存款整存整取(半年)   1.30
2    2015-10-24            定期存款整存整取(二年)   2.10
3    2015-10-24           定期存款整存整取(三个月)   1.10
4    2015-10-24            定期存款整存整取(三年)   2.75
5    2015-10-24            定期存款整存整取(五年)     --
6    2015-10-24            定期存款整存整取(一年)   1.50
7    2015-10-24               活期存款(不定期)   0.35
8    2015-10-24  零存整取、整存零取、存本取息定期存款(三年)   1.30
9    2015-10-24  零存整取、整存零取、存本取息定期存款(五年)     --
10   2015-10-24  零存整取、整存零取、存本取息定期存款(一年)   1.10
11   2015-10-24                通知存款(七天)   1.35
12   2015-10-24                通知存款(一天)   0.80
13   2015-10-24                协定存款(定期)   1.15
14   2015-08-26                定活两便(定期)     --
15   2015-08-26            定期存款整存整取(半年)   1.55
16   2015-08-26            定期存款整存整取(二年)   2.35
17   2015-08-26           定期存款整存整取(三个月)   1.35
18   2015-08-26            定期存款整存整取(三年)   3.00
19   2015-08-26            定期存款整存整取(五年)     --
20   2015-08-26            定期存款整存整取(一年)   1.75
21   2015-08-26               活期存款(不定期)   0.35
22   2015-08-26  零存整取、整存零取、存本取息定期存款(三年)   1.55
23   2015-08-26  零存整取、整存零取、存本取息定期存款(五年)     --
24   2015-08-26  零存整取、整存零取、存本取息定期存款(一年)   1.35
25   2015-08-26                通知存款(七天)   1.35
26   2015-08-26                通知存款(一天)   0.80
27   2015-08-26                协定存款(定期)   1.15
28   2015-06-28                定活两便(定期)     --
29   2015-06-28            定期存款整存整取(半年)   1.80
..          ...                     ...    ...
516  1990-08-21                通知存款(一天)     --
517  1990-08-21                协定存款(定期)     --
518  1990-04-15                定活两便(定期)     --
519  1990-04-15            定期存款整存整取(半年)   7.74
520  1990-04-15            定期存款整存整取(二年)  11.00
521  1990-04-15           定期存款整存整取(三个月)   6.30
522  1990-04-15            定期存款整存整取(三年)  11.88
523  1990-04-15            定期存款整存整取(五年)  13.68
524  1990-04-15            定期存款整存整取(一年)  10.08
525  1990-04-15               活期存款(不定期)   2.88
526  1990-04-15  零存整取、整存零取、存本取息定期存款(三年)     --
527  1990-04-15  零存整取、整存零取、存本取息定期存款(五年)     --
528  1990-04-15  零存整取、整存零取、存本取息定期存款(一年)     --
529  1990-04-15                通知存款(七天)     --
530  1990-04-15                通知存款(一天)     --
531  1990-04-15                协定存款(定期)     --
532  1989-02-01                定活两便(定期)     --
533  1989-02-01            定期存款整存整取(半年)   9.00
534  1989-02-01            定期存款整存整取(二年)  12.20
535  1989-02-01           定期存款整存整取(三个月)   7.56
536  1989-02-01            定期存款整存整取(三年)  13.14
537  1989-02-01            定期存款整存整取(五年)  14.94
538  1989-02-01            定期存款整存整取(一年)  11.34
539  1989-02-01               活期存款(不定期)   2.88
540  1989-02-01  零存整取、整存零取、存本取息定期存款(三年)     --
541  1989-02-01  零存整取、整存零取、存本取息定期存款(五年)     --
542  1989-02-01  零存整取、整存零取、存本取息定期存款(一年)     --
543  1989-02-01                通知存款(七天)     --
544  1989-02-01                通知存款(一天)     --
545  1989-02-01                协定存款(定期)     --

[546 rows x 3 columns]

In [ ]:
ts.get_rrr()#存款准备金

In [ ]:
ts.get_gdp_year()#国内生产总值

In [ ]:
ts.get_gdp_year()

In [ ]:
ts.get_gdp_quarter()#每季度国内生产总值

In [ ]:
ts.get_gdp_for()#投资出口内需对GDP贡献

In [ ]:
year :统计年度
end_for :最终消费支出贡献率(%)
for_rate :最终消费支出拉动(百分点)
asset_for :资本形成总额贡献率(%)
asset_rate:资本形成总额拉动(百分点)
goods_for :货物和服务净出口贡献率(%)
goods_rate :货物和服务净出口拉动(百分点)

In [ ]:
ts.get_gdp_pull()#三大产业对GDP增长率拉动构成

In [ ]:
year :统计年度
gdp_yoy :国内生产总值同比增长(%)
pi :第一产业拉动率(%)
si :第二产业拉动率(%)
industry:其中工业拉动(%)
ti :第三产业拉动率(%)

In [ ]:
ts.get_gdp_contrib()#三大产业对GDP贡献

In [ ]:
year :统计年度
gdp_yoy :国内生产总值
pi :第一产业献率(%)
si :第二产业献率(%)
industry:其中工业献率(%)
ti :第三产业献率(%)

In [ ]:
ts.get_cpi()#每月cpi

In [ ]:
ts.get_ppi()#每月ppi

In [ ]:
p vmonth :统计月份
ppiip :工业品出厂价格指数
ppi :生产资料价格指数
qm:采掘工业价格指数
rmi:原材料工业价格指数
pi:加工工业价格指数
cg:生活资料价格指数
food:食品类价格指数
clothing:衣着类价格指数
roeu:一般日用品价格指数
dcg:耐用消费品价格

In [ ]:
ts.get_industry_classified()#行业分类

In [ ]:
ts.get_hs300s()#沪深300

In [ ]:
ts.get_sz50s()#上证50
ts.get_zz500s()#中证500

In [9]:
array = [1, 2, 5, 3, 6, 8, 4]
for i in range(len(array) - 1, 1, -1):
    print(i)

6
5
4
3
2

In [13]:
array = [1, 2, 5, 3, 6, 8, 4]
for i in range(len(array) - 1, 1, -1):
    print(i)
    for j in range(0, i):
        print (j)

6
0
1
2
3
4
5
5
0
1
2
3
4
4
0
1
2
3
3
0
1
2
2
0
1

In [1]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [2]:
'"Isn't," they said.'

SyntaxError: invalid syntax (<ipython-input-2-a6e485985ac7>, line 1)

In [12]:
s='First line.\nSecond line.'  
print(s)

First line.
Second line.

In [13]:
s='First line.\nSecond line.'  
s

'First line.\nSecond line.'

In [6]:
'doesn\'t'

"doesn't"

In [18]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [ ]:
>>> word = 'Python'

In [1]:
word = 'Python'
word[0:2]# characters from position 0 (included) to 2 (excluded)

'Py'

In [2]:
>>> word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

In [ ]:
the start is always included, and the end always excluded. This makes sure that s[:i] + s[i:] is always equal to s:

In [3]:
word[:2] + word[2:]
word[:4] + word[4:]

'Python'

In [ ]:
>>> word[:2]   # character from the beginning to position 2 (excluded)
'Py'
>>> word[4:]   # characters from position 4 (included) to the end
'on'
>>> word[-2:]  # characters from the second-last (included) to the end
'on'